@import "tailwindcss";

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no-spinner {
  -moz-appearance: textfield;
}


/* @media screen and (min-width: 640px) {
  
  .incresetext{
  font-size: 103%;
}
} */
